@import "template";

// ==========================================================================
// Variables
// ==========================================================================

$articleImg: image-url('editor-icons/article.png');
$listicleImg: image-url('editor-icons/listicle.png');
$galleryImg: image-url('editor-icons/gallery.png');
$memeImg: image-url('editor-icons/meme.png');
$personalityImg: image-url('editor-icons/personality.png');
$pollingImg: image-url('editor-icons/polling.png');
$triviaImg: image-url('editor-icons/trivia.png');
$videoImg: image-url('editor-icons/video.png');

$editorItemHeight: 160px;
$editorItemWidth: 160px;

// ==========================================================================



// ==========================================================================
// POST EDITOR POPUP
// ==========================================================================

.editor-popup-container {
	background-color: $black-02; //rgba(247, 247, 247, .85);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;

	// ==========================================================================
	
	.epi-main-header {
		overflow: hidden;
		position: absolute;
		top: 10%;
		left: 20%;
		right: 20%;

		.f-left { 
			float: left;
			font-size: 36px;
			font-weight: 600;
			width: 50%;

			span { 
				font-size: 14px;
				font-weight: normal;
			}
		}

		.f-right { 
			float: right;

			a {
				@include box-sizing(border-box);
				display: block;
				height: 34px;
				line-height: 34px;
				margin-top: 10px;
				width: 145px;
			}
		}
	}

	// ==========================================================================
	
	.epi-close {
		display: block;
		cursor: pointer;
		position: absolute;
		top: 2%; //10%;
		right: 2%;
		height: 50px;
		width: 50px;

		&::before,
		&::after {
			background-color: #000;
			content: "";
			height: 50px;
			width: 2px;
			position: absolute;
			top: 50%;
			left: 50%;
		}

		&::before { @include transform(translate(-50%, -50%) rotate(45deg)); }
		&::after { @include transform(translate(-50%, -50%) rotate(-45deg)); }
	}

	// ==========================================================================

	&.epi-opened {
		.epi-top { animation: editor-popup-top-startup .75s cubic-bezier(0.455, 0.03, 0.615, 0.555); }
		.epi-bottom { animation: editor-popup-bottom-startup .75s cubic-bezier(0.455, 0.03, 0.615, 0.555); }
	}

	&.epi-closed {
		.epi-top { 
			animation: editor-popup-top-close .75s cubic-bezier(0.455, 0.03, 0.615, 0.555);
			top: 35% !important;
		}
		.epi-bottom { 
			animation: editor-popup-bottom-close .75s cubic-bezier(0.455, 0.03, 0.615, 0.555);
			bottom: 10% !important;
		}

		// ==========================================================================
		
		.epi-main-header { display: none; }
		.epi-close { display: none; }
	}

	&.epi-opened,
	&.epi-closed {
		.epi-top,
		.epi-bottom { animation-fill-mode: forwards; }
	}

	&.epi-opened {
		.epi-article { animation-delay: 0s; }
		.epi-listicle { animation-delay: .15s; }
		.epi-gallery { animation-delay: .30s; }
		.epi-video { animation-delay: .45s; }
		.epi-trivia { animation-delay: .15s; }
		.epi-personality { animation-delay: .30s; }
		.epi-polling { animation-delay: .45s; }
		.epi-meme { animation-delay: .60s; }
	}

	&.epi-closed {
		.epi-article { animation-delay: .45s; }
		.epi-listicle { animation-delay: .30s; }
		.epi-gallery { animation-delay: .15s; }
		.epi-video { animation-delay: 0s; }
		.epi-trivia { animation-delay: .60s; }
		.epi-personality { animation-delay: .45s; }
		.epi-polling { animation-delay: .30s; }
		.epi-meme { animation-delay: .15s; }
	}


}

.editor-popup-item {
	border: 1px solid #dbdbdb;
	background-color: #fff;
	height: $editorItemHeight;
	width: $editorItemWidth;
	position: absolute;
	@include border-radius(50%);
	@include box-sizing(border-box);
	@include translate(-50%, -50%);
	text-align: center;
	z-index: 101;

	span { display: block; }

	// ==========================================================================

	&.epi-top { top: -35%; }
	&.epi-bottom { bottom: -75%; }

	&.epi-top,
	&.epi-bottom { animation-fill-mode: forwards; }

	// ==========================================================================
	
	.epi-header {
		background-color: transparent;
		background-repeat: no-repeat;
		font-size: 18px;
		background-position: 50% 20px;
		padding-top: 90px;
	}

	.epi-footer {
		margin-top: 10px;
		font-size: 10px;
	}

	.epi-header span, 
	.epi-footer a { 
		color: #9d9da7;
		position: relative;
		z-index: 102;
		@include transition (color .2s linear);
	}

	.epi-footer a { 
		z-index: 103;

		&::after { content: "[ lihat contoh ]"; }
		&:hover::after { text-decoration: underline; }
	}

	&::before,
	&::after,
	.epi-classy { position: absolute; }

	.epi-classy {
		height: $editorItemHeight;
		width: $editorItemWidth;
		top: 0;
		left: 0;

		display: block;
		z-index: 102;
	}

	&::before,
	&::after { 
		@include border-radius(50%);
		@include transition(all .2s ease-out);
	}

	&::before {
		content: "";
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

		@include transition-delay(.2s);
	}

	&::after {
		content: "";
		top: 50%;
		left: 50%;
		height: 0;
		width: 0;
		@include translate(-50%, -50%);
		@include opacity(0);
	}

	// ==========================================================================
	
	&.epi-article {
		left: 20%;

		.epi-header { background-image: $articleImg; }
		.epi-header span::after { content: "Article"; }
		&::after { background-color: rgba(46, 161, 242, .7); }
	}

	&.epi-listicle {
		left: 40%;
		animation-delay: .15s;

		.epi-header { background-image: $listicleImg; }
		.epi-header span::after { content: "Listicle"; }
		&::after { background-color: rgba(14, 130, 211, .7); }
	}

	&.epi-gallery {
		left: 60%;
		animation-delay: .30s;

		.epi-header { background-image: $galleryImg; }
		.epi-header span::after { content: "Gallery"; }
		&::after { background-color: rgba(52, 104, 175, .7); }
	}

	&.epi-video {
		left: 80%;
		animation-delay: .45s;

		.epi-header { background-image: $videoImg; }
		.epi-header span::after { content: "Video"; }
		&::after { background-color: rgba(106, 71, 255, .7); }
	}

	&.epi-trivia {
		left: 20%;
		animation-delay: .45s;

		.epi-header { background-image: $triviaImg; }
		.epi-header span::after { content: "Trivia Quiz"; }
		&::after { background-color: rgba(134, 100, 233, .7); }
	}

	&.epi-personality {
		left: 40%;

		.epi-header { background-image: $personalityImg; font-size: 16px; }
		.epi-header span::after { content: "Personality Quiz"; }
		&::after { background-color: rgba(143, 56, 210, .7); }
	}

	&.epi-polling {
		left: 60%;
		animation-delay: .15s;

		.epi-header { background-image: $pollingImg; }
		.epi-header span::after { content: "Polling"; }
		&::after { background-color: rgba(217, 54, 246, .7); }
	}

	&.epi-meme {
		left: 80%;
		animation-delay: .30s;

		.epi-header { background-image: $memeImg; }
		.epi-header span::after { content: "Meme"; }
		&::after { background-color: rgba(250, 134, 195, .65); }
	}

	// ==========================================================================
	
	&:hover {
		.epi-header span, 
		.epi-footer a { color: #fff; }

		&::before {
			@include box-shadow(0 0 3px rgba(0,0,0,0.3),0 0 0 10px rgba(0,0,0,0.1));
		}

		&::after {
			height: 100%;
			width: 100%;
			@include opacity(1);
		}
	}
}

// ==========================================================================




// ==========================================================================
// Animation
// ==========================================================================

@keyframes editor-popup-top-startup {
	0% { bottom: -35%; }
	70% { top: 40%; }
	100% { top: 35%; }
}

@keyframes editor-popup-bottom-startup {
	0% { bottom: -35%; }
	70% { bottom: 15%; }
	100% { bottom: 10%; }
}

@keyframes editor-popup-top-close {
	0% { top: 35%; }
	30% { top: 40%; }
	100% { top: -35%; }
}

@keyframes editor-popup-bottom-close {
	0% { bottom: 10%; }
	30% { bottom: 15%; }
	100% { bottom: -75%; }
}

// ==========================================================================





// ==========================================================================
// Media Queries
// ==========================================================================

@media only screen and (min-width: 1360px) {
	.editor-popup-item {
		&.epi-bottom { bottom: -75%; }
	}
}

// ==========================================================================