@import "template";
@import "post-editor-default";

// ==========================================================================
// Variables
// =========================================================================

// ==========================================================================



// ==========================================================================
// BODY
// ==========================================================================

.eb-meme {
	padding-top: 30px;
	padding-bottom: 10px;
}

.eb-meme-header,
.eb-meme-footer {
	border: 1px solid $black-10;
	padding: 15px;
	text-align: center;
	font-size: 24px;
	color: $black-20;
	font-weight: 800;
}

.eb-meme-image {
	border: 1px solid $black-10;
	background-color: $black-02;
	margin: 10px 0;
	position: relative;
	width: 728px;
	height: 490px;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	margin: auto;

	.meme-canvas {
		width: auto;
		max-width : 728px;
		height: auto;
		max-height: 490px;
		display: table;
		position: relative;
		margin: 0 auto;
		text-align: center;
		overflow: hidden;
		
		.preview {
			width: auto;
			height: auto;
			max-width: 728px;
			max-height: 490px;
			position: relative;
			display: table-cell;
			vertical-align: middle;
		}
	    
	    .remove-image {
	    	background-color: rgba(96, 96, 96, 0.8);
	    	position: absolute;
	    	border-radius: 100%;
	    	top: 0;
	    	right: 0;
			padding: 8px;
			margin: 5px;
			z-index: 1;
			display: none;
		}

		span {
	    	color: #fff;
	    }
	    
	    .is-active {
	    	background-color: rgba(242, 237, 169, 0.5);
	    }
		
		.canvas-text-top {
			text-align: center;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			
			.text-top-caption {
				font-size: 22pt;
				font-weight: 600;
				text-transform: uppercase;
				color: #fff;
				   -webkit-text-stroke-width: 1px;
				   -webkit-text-stroke-color: $black;
				cursor: pointer;
				display: table;
				word-wrap: break-word;
				position: absolute;
				top: 0;
				left: 30%;
				right: 0;
				bottom: 0;
				z-index: 2;
			} 
		}

		.canvas-text-bottom {
			text-align: center;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;

			.text-bottom-caption {
				font-size: 20pt;
				font-weight: 600;
				text-align: center;
				text-transform: uppercase;
				color: #fff;
				   -webkit-text-stroke-width: 1px;
				   -webkit-text-stroke-color: $black;
				cursor: pointer;
				display: table;
				word-wrap: break-word;
				position: absolute;
				top: auto;
				left: 30%;
				right: 0;
				bottom: 0;

			}
		}
	}
}

.eb-meme-upload-holder {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	@include translate(-50%, -50%);

	a, span { 
		text-align: center;
		text-transform: uppercase;
		display: block;
		font-size: 14px;
		text-decoration: none;
		color: #fff;
	}

	a {
		cursor: pointer;
		@include border-radius(10000px);
		line-height: 40px;
		text-decoration: none;

		&:hover {
			color : #fff;
			text-decoration: none;
		}

		&:focus {
			color : #fff !important;
			text-decoration: none;
		}
	}

	span {
		color: $black-30;
		margin: 30px 0;
	}
}


/*======================================
				BY FERDI
========================================
*/
.eb-title {
	font-size: 40px;
	font-weight: bold;
	color: $black-80;

	textarea {
		border : none;
		resize: none;
		height: 70px;
		font-size: 40px;
		font-weight: 600;
		color: $black-80;
		text-transform: capitalize;

		&:focus {
			outline : none;
			border : none;
		}
	}

	::-webkit-textarea-placeholder {
		color: $black-20;
	}

	:-moz-placeholder {
		color: $black-20;
	}

	::-moz-placeholder {
		color: $black-20;
	}

	:-ms-textarea-placeholder {
		color: $black-20;
	}
}

.file-upload {
	width: 300px;
	height: 40px;
	position: relative;
	overflow: hidden;
	background-color: #9c9eac;
	border-radius: 50px;

	span {
		position: absolute;
		top: -20px;
		left: 95px;
	    color: #fff;
	}

	.upload-btn {
		height: 100%;
		font-family: 'Work Sans';
		position: absolute;
		top: 0;
		right: 0;
		margin : 0;
		padding: 0;
		font-size: 14pt;
	    cursor: pointer;
	    opacity: 0;
	    display: block;
	    filter: alpha(opacity=0);
	}
}

/*==================
	  ON MODAL
====================
*/
.eb-choose-image {
	width: 150px;
	height: 160px;
	overflow: hidden;
	float: left;
	margin: 10px 5px;

	.container-img {
		width: 100%;
		height: 130px;
		overflow: hidden;
		
		img {
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
	}

	label {
		padding: 10px;
		text-align: center;
		font-size: 12px;
		font-weight: 600;
		display: block;
		margin: 0 auto;
	}

	&:hover .container-img > img {
		transform: scale(1.4);
		transition: all 0.2s ease-in-out;
	}
}

.eb-meme-option {
	padding-bottom: 200px;

	.eb-meme-caption{
		margin-bottom: 20px;
		margin-top: 20px;
		float: left;

		.eb-meme-top-caption {
			width: 350px;
			height: 80px;
			float: left;
			margin-right: 28px;
			padding: 10px 0 0 10px;
			font-size: 18pt;
			resize: none;
			border : 1px solid #dadade;
			color: #333437;

			&::-webkit-input-placeholder {
				color : #dadade;
			}

			&:-moz-placeholder { /*for FIREFOX -18*/
				color : #dadade;
			}

			&::-moz-placeholder { /*for FIREFOX 18+*/
				color : #dadade;
			}

			&:-ms-input-placeholder {
				color : #dadade;
			}
		}

		.eb-meme-bottom-caption {
			width: 350px;
			height: 80px;
			padding: 10px 0 0 10px;
			font-size: 18pt;
			float: left;
			resize: none;
			border : 1px solid #dadade;
			color: #333437;

			&::-webkit-input-placeholder {
				color : #dadade;
			}

			&:-moz-placeholder { /*for FIREFOX -18*/
				color : #dadade;
			}

			&::-moz-placeholder { /*for FIREFOX 18+*/
				color : #dadade;
			}

			&:-ms-input-placeholder {
				color : #dadade;
			}
		}
	}

	.eb-meme-dropdown {
		width: 166px;
		float: left;

		label {
			vertical-align: middle;
			font-size: 12px;
			text-transform: uppercase;
			color : #333437;
		}

		select {
			width: 100%;
			height: 40px;
			font-size: 14px;
			margin-top: 10px;
			padding: 5px 10px;
			border : 1px solid #dadade;
			cursor : pointer;
			color : #333437;
			font-family: 'Work Sans';
			background: url(../css/images/editor-icons/down.png) no-repeat right #fff;
			background-size: 9px;
			background-origin: content-box;
			appearance : none;
				-moz-appearance : none;
				-webkit-appearance : none;

			&:after {
				content : "\&#xe845";
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	.eb-meme-color {
		width: 60px;
		float: left;
		margin-left: 30px;
		display: block;

		label {
			vertical-align: middle;
			font-size: 12px;
			text-transform: uppercase;
			padding-bottom: 10px !important;
			float: left;
		}

		input[type="text"] {
			width: 100%;
			margin-top: 0px;
			position: absolute;
			float: left;

		}
	}

	.eb-meme-outline {
		width: 60px;
		float: left;
		margin-left: 30px;

		label {
			vertical-align: middle;
			font-size: 12px;
			text-transform: uppercase;
			padding-bottom: 10px !important;
			float: left;
		}

		input[type="text"] {
			width: 100%;
			/*height: 400px !important;*/
			float: left;

		}
	}

	.eb-meme-button {
		width: 150px;
		float: left;
		margin-left: 30px;

		button {
			width: 100%;
			height: 40px;
			margin-top: 30px;
			background-color: transparent;
			border : 2px solid lightblue;
			color: lightblue;
			font-size: 12pt;
			text-transform: uppercase;
			font-weight: 600;

			&:hover {
				background-color: lightblue;
				color: #fff;
				transition: 0.6s;
			} 
		}
	}
}

// ==========================================================================
